<ui-input label="Name" [formControl]="formControl"></ui-input>

<form [formGroup]="formGroup">
  <ui-input label="Product Name" formControlName="productName"></ui-input>
  <ui-input label="Product Code" formControlName="productCode"></ui-input>
  <ui-input label="Product Serial" formControlName="productSerial"></ui-input>
</form>

<!-- <form [formGroup]="formGroup">
  <h2>Products</h2>
  <mat-form-field class="example-form-field">
    <mat-label>Product Name</mat-label>
    <input matInput type="text" formControlName="productName" />
    <button
      *ngIf="formGroup.get('productName')?.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="formGroup.get('productName')?.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Product Code</mat-label>
    <input matInput type="text" formControlName="productCode" />
    <button
      *ngIf="formGroup.get('productCode')?.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="formGroup.get('productCode')?.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Product Serial</mat-label>
    <input matInput type="text" formControlName="productSerial" />
    <button
      *ngIf="formGroup.get('productSerial')?.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="formGroup.get('productSerial')?.setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form> -->

<div>{{ formGroup.value | json }}</div>
